@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {font-family: "Poppins", sans-serif !important;background-color: lightblue !important;height: 100%;}

.form-control:focus {
    color: var(--bs-body-color);
    background-color: var(--bs-body-bg);
    border-color: #86b7fe;
    outline: 0;
    box-shadow: unset !important;
}

/* 5-5-2024 */

.google_keep_notes {padding: 50px 0;}
.google___keep___elements {
    box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.302), 0 2px 6px 2px rgba(60, 64, 67, 0.149);
    background-color: #fff;
    border-radius: 6px;
    padding: 20px 15px;
}
.title___keep___notes {margin-bottom: 50px;}
.add___note___icon {position: relative;}
.icon___style {
    position: absolute;
    right: 0;
    background-color: #fff;
    box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.302), 0 2px 6px 2px rgba(60, 64, 67, 0.149);
    width: 50px;
    height: 50px;
    display: grid;
    place-content: center;
    border-radius: 100%;
    cursor: pointer;
}
.icon___style svg {color: green;}
.chat___title {margin: 0 0 25px 0;}
.input__module {border: none !important;}