@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {font-family: "Poppins", sans-serif !important;background: #faf5e6;height: 100%;padding: 0 16px;}

.form-control:focus {
    color: var(--bs-body-color);
    background-color: var(--bs-body-bg);
    border-color: #86b7fe;
    outline: 0;
    box-shadow: unset !important;
}

/* 5-5-2024 */

.google_keep_notes {padding: 50px 0;}
.add___note___icon {position: relative;}
.icon___style {
    position: absolute;
    right: 0;
    background-color: #fff;
    box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.302), 0 2px 6px 2px rgba(60, 64, 67, 0.149);
    width: 50px;
    height: 50px;
    display: grid;
    place-content: center;
    border-radius: 100%;
    cursor: pointer;
}
.icon___style svg {color: green;}
  
.note {
    background: #fff;
    border-radius: 7px;
    box-shadow: 0 2px 5px #ccc;
    padding: 10px;
    width: 230px;
    margin: 16px;
    float: left;
}
.note h1 {
    font-size: 1.1em;
    margin-bottom: 6px;
}
.note p {
    font-size: 1.1em;
    margin-bottom: 10px;
    white-space: pre-wrap;
    word-wrap: break-word;
}
.note button {
    position: relative;
    float: right;
    margin-right: 10px;
    color: red;
    border: none;
    width: 50px;
    height: 50px;
    cursor: pointer;
    outline: none;
    background-color: transparent;
}

.note button svg {
    font-size: 20px;
}

form.create-note {
    position: relative;
    width: 480px;
    margin: 30px auto 20px auto;
    background: #fff;
    padding: 15px;
    border-radius: 7px;
    box-shadow: 0 1px 5px rgb(138, 137, 137);
}
form.create-note input,
form.create-note textarea {
    width: 80%;
    border: none;
    padding: 4px;
    outline: none;
    font-size: 1.2em;
    font-family: inherit;
    resize: none;
}
form.create-note button {
    position: absolute;
    right: 18px;
    bottom: -18px;
    background: #f5ba13;
    color: #fff;
    border: none;
    border-radius: 50%;
    width: 36px;
    height: 36px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
    cursor: pointer;
    outline: none;
}

